* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #BEBEBE;
}

header {
    background-image: url('https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80');
    border-radius: 10px;
    background-size: cover;
    color: white;
    padding: 1%;
}

a {
    color: #339999;
    text-decoration: none;
}

article {
    padding: 1%;
    background-image: linear-gradient(white, lightgrey 90%);
    border: outset;
    border-radius: 10px;
    margin-bottom: 5px;
}

img {
    border: 2px solid #339999;
    border-radius: 10px;
    height: 200px;
    margin-bottom: 5px;
}

#main-title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.subheading {
    font-family:'Courier New', Courier, monospace;
    background-image: linear-gradient(black, black);
    background-position: bottom left;
    background-size: 100% 2px;
    background-repeat: no-repeat;
}
